.container {
  width: 100%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #FFED00;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'lobster', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EF5B0C;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
